<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="stringConexao"  value="Server=DESKTOP-UMVSH5K\LEOHENRIQUE;Database=DB_Minka;User Id=sa;Password=leo1995;"/>

  </appSettings>
</configuration>